<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m7dong/happy-diary">Happy Diary</a></strong>
            <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo1"><span class="button-text">Show Screenshot</span></button>
            </br>
			- A Desktop app built with Electron and React to help users record their moods. The app &nbsp;&nbsp;encourages users to keep diaries and analyze it using Microsoft Text Analytics API
            </br>
            - 2017 Waterloo Equithon Finalist and winner of the mental health track.
		</h5>
        <div id="demo1" class="collapse">
            <div class="col-sm-6"> <a href="{{ site.baseurl }}static/img/happy-diary-2.png"><img class="img-demo1" src="{{ site.baseurl }}static/img/happy-diary-2.png" alt="Responsive image"></a> </div>
            <div class="col-sm-6"> <a href="{{ site.baseurl }}static/img/happy-diary-1.png"><img class="img-demo1" src="{{ site.baseurl }}static/img/happy-diary-1.png" alt="Responsive image"></a> </div>
        </div>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m7dong/fitts">Fitts Law Experiment</a></strong>
            <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo2"><span class="button-text">Show Screenshot</span></button>
            </br>
            - An Human-computer Interaction research project on how curiosity influences the result of Fitts's &nbsp;&nbsp;&nbsp;Law, a predictive model of human movements
            </br>
            - Designed the experiments and developed a Flask application as crowdsourcing task interface.
        </h5>
        <div id="demo2" class="collapse row">
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/fitts-1.png"><img class="img-demo2" src="{{ site.baseurl }}static/img/fitts-1.gif" alt="Responsive image"></a> </div>
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/fitts-2.png"><img class="img-demo2" src="{{ site.baseurl }}static/img/fitts-2.png" alt="Responsive image"></a> </div>
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/fitts-3.png"><img class="img-demo2" src="{{ site.baseurl }}static/img/fitts-3.gif" alt="Responsive image"></a> </div>
        </div>
        <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="{{ site.baseurl }}static/img/datathon-team-25.pdf">Analysis on NYC Uber & Taxi Rides Data</a></strong>
            </br>
			-  Data visualization and time series analysis on NYC Uber and taxi rides dataset. Everything was &nbsp;&nbsp;&nbsp;completed in a 6-hour datathon held by Citadel with 3 teammates.
		</h5>
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m7dong/CS446-Project">Blink</a></strong>
            <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo3"><span class="button-text">Show Screenshot</span></button>
            </br>
			- A multi-platform social app built with ReactNative connects users and assists them organize &nbsp;&nbsp;group events
            </br>
			- The app supports basic CRUD operations for the events, participants, invitation and support &nbsp;&nbsp;&nbsp;location recommendation.
		</h5>
        <div id="demo3" class="collapse row">
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/blink-1.png"><img class="img-demo3" src="{{ site.baseurl }}static/img/blink-1.png" alt="Responsive image"></a> </div>
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/blink-2.png"><img class="img-demo3" src="{{ site.baseurl }}static/img/blink-2.png" alt="Responsive image"></a> </div>
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/blink-3.png"><img class="img-demo3" src="{{ site.baseurl }}static/img/blink-3.png" alt="Responsive image"></a> </div>
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/blink-4.png"><img class="img-demo3" src="{{ site.baseurl }}static/img/blink-4.png" alt="Responsive image"></a> </div>
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/blink-5.png"><img class="img-demo3" src="{{ site.baseurl }}static/img/blink-5.png" alt="Responsive image"></a> </div>
            <div class="col-sm-4"> <a href="{{ site.baseurl }}static/img/blink-6.png"><img class="img-demo3" src="{{ site.baseurl }}static/img/blink-6.png" alt="Responsive image"></a> </div>
        </div>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="{{ site.baseurl }}static/img/SurveyScore.pdf">Survey Interesting Score Prediction</a></strong>
            </br>
            - In class Kaggle competiion predicting the interestingness of surveys 
			- Ranked Top 5% of the class
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/m7dong/dbproject">Book Search Engine</a></strong>
            <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#demo4"><span class="button-text">Show Screenshot</span></button>
            </br>
            - A book search engine written in Java supporting searching from information of more than
            </br>&nbsp;&nbsp;200, 000 books stored in Oracle database.
            </br>
            - Started from the design of database and provided more than 30 filters.
        </h5>
        <div id="demo4" class="collapse">
            <div class="col-sm-6"> <a href="{{ site.baseurl }}static/img/book-search.png"><img class="img-demo4" src="{{ site.baseurl }}static/img/book-search.png" alt="Responsive image"></a> </div>
        </div>
    </div>
  </div>
</div>
</section>
